db_connection.php
config.php
data/
data_wrong/
data_sample/
.vscode/settings.json
phpmailer/mailer.php
vendor/
.vscode/launch.json
thunder-tests/thunderEnvironment.json
.devcontainer/docker-compose.yml
.devcontainer/Dockerfile
.devcontainer/devcontainer.json
/img/
